<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
<script src="https://use.fontawesome.com/dad29a7320.js"></script>
<script src='js/client.js'></script>


<title>TP II - Node.js, Express, MongoDB, EJS</title>
</head>
<body>
  <div class='global'>
  	  <header>
  	  	<h1>TP II - Programmation et veille technologique</h1>
  	  	<h2>Node.js, Express, MongoDB, EJS</h2>
  	  </header>
  	  <main>
      <div id="tableau" class="container-fluid" style="margin-top: 10px">
          <div class="table-row header">
            <div class="text"><a href="/TNom">Nom</a></div>
              <div class="text"><a href="/TPrenom">Prénom</a></div>
              <div class="text"><a href="/TTel">Téléphone</a></div>
            <div class="text">_id</div>
            <div class="num"></div>
              <i class="fa fa-plus-square" aria-hidden="true" onclick="ajouterDoc()">
          </div>
          <% for(var i=0; i<carnet.length; i++) {%>
          <div class="table-row">
            <div class="text editable" value="" contentEditable="true"><%= carnet[i].nom %></div>
            <div class="text editable" value="" contentEditable="true"><%= carnet[i].prenom %></div>
            <div class="text editable" value="" contentEditable="true"><%= carnet[i].telephone %></div>
            <div class="text" value=""><%= carnet[i]._id %></div>
            <i class="num fa fa-floppy" aria-hidden="true" onclick="verifEnreg(this)"></i>
            <i class="num fa fa-trash" aria-hidden="true" onclick="detruire(this)"></i>

          </div>
          <% } %>
        </div> 
      
	  </main>
	  <footer>
	  <p>TP II - Programmation et veille technologique - TIM - Collège de Maisonneuve</p>
	  </footer>
  </div>
</body>
</html>