<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
<title>YP II - Node.js, Express, MongoDB, EJS</title>
</head>
<body>
  <div class='global'>
  	  <header>
  	  	<h1>TP II - Programmation et veille technologique</h1>
  	  	<h2>Node.js, Express, MongoDB, EJS</h2>
  	  </header>
  	  <main>
          
        <table>
            <caption>Carnet d'adresse 6</caption>
            
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Téléphone</th>
                <th>_id</th>
                <th>&nbsp;</th>
                <th><a href="Ajouter">Ajouter</a></th>
            </tr>
            <% for(var i=0; i < carnet.length; i++) { %>
            <tr>
                <td><%= carnet[i].nom %></td>
                <td><%= carnet[i].prenom %></td>
                <td><%= carnet[i].telephone %></td>
                <td><%= carnet[i]._id %></td>
                <td><a href="#">Update</a></td>
                <td><a href="#">Supprimer</a></td>
            </tr>
            <% } %>
        </table>
	  </main>
	  <footer>
	  <p>TP II - Programmation et veille technologique - TIM - Collège de Maisonneuve</p>
	  </footer>
  </div>
</body>
</html>